body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue; /* Light gray background */
}

.portfolio-card {
    width: 60vh;
    height: 40vh;
    border: 1px solid black;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links-card {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link-icon {
    width: 50px; /* Adjust the size of the icon as needed */
    height: 50px; /* Adjust the size of the icon as needed */
    border: 1px solid black;
    background-color: #ffffff;
    border-radius: 50%;
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: center; /* Center the background image */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Change cursor to pointer on hover */
    overflow: hidden; /* Hide any overflow */
    position: relative; /* Needed for pseudo-element positioning */
}